.todo-container {
	background-color: rgb(235, 235, 235);
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
}
.nav-container {
	width: 100vw;
	height: 60px;
	display: flex;
	background-color: var(--primary-color);
	justify-content: space-between;
	align-items: center;
	border-bottom: 3px solid rgb(9, 9, 116);
}
.nav-container h1 {
	color: white;
	font-size: 25px;
	padding-left: 20px;
	word-spacing: 0.3rem;
	text-shadow: black 0.1em 0.1em 0.2em;
}
.nav-container p {
	cursor: pointer;
	font-size: 18px;
	color: white;
	font-weight: 500;
	padding-right: 20px;
	text-shadow: black 0.1em 0.1em 0.2em;
}
.nav-container p:hover {
	font-weight: 700;
}
