.file-item-container {
	/* background-color: aqua; */
}
.file-title-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.title-left {
	display: flex;
	align-items: center;
	padding-left: 10px;
	gap: 5px;
	cursor: pointer;
}
.file-edit-form {
	padding: 12px 0px;
	flex-direction: row;
	gap: 5px;
}
.file-edit-form input {
	outline: none;
	border: none;
	border-radius: 3px;
	line-height: 20px;
	font-size: 14px;
}
.file-edit-form button {
	border: none;
	background-color: rgba(255, 255, 255, 0.3);
	cursor: pointer;
	padding: 0;
	height: 24px;
	width: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	border-radius: 50%;
}
.icon-edit-form {
	font-size: 18px;
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 50%;
	padding: 3px;
	cursor: pointer;
}
.title-right {
	display: none;
	gap: 10px;
	padding-right: 10px;
}
.icon-right {
	background-color: rgba(255, 255, 255, 0.3);
	padding: 3px;
	border-radius: 50%;
	cursor: pointer;
}
.icon-right:hover {
	transform: scale(1.05);
}
.file-title-container:hover .title-right {
	display: flex;
	gap: 6px;
	transition: 0.3s ease all;
}
.title-span {
	padding: 15px 0;
}
